
@charset "UTF-8";
/* CSS Document */


body,div,pre,p,blockquote, 
form,
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6, 
embed,object { 
	margin: 0;
	padding: 0;
	vertical-align: baseline; 
	font-size:100.01%;}
	

@media screen and (max-width:1100px) {
    body {;}
  }

	
}
body {  margin:0 auto;
	height:90%;
	background-color;#f5f5f5
	font: .5em/1.231 Arial, Helvetica, sans-serif;
	*font-size:small;
	*font:x-small;
	color:#ccc;
}


#nav {	
	list-style: none;
	margin-bottom: 10px;
	position: fixed;
	right:10px;
	top: 60px;
}


#nav li {
	display: inline;
	margin-right: 0.5em;
	
	
}
#nav li a {
	color: #ccc;
	
}

h1 img {
	width:15%;
	position:absolute;
	margin:10px;
	
}

header {
	height:40px;
	position:relative;
	}


#contents {
	margin:120px 20px;
	padding: 60px;
	height: 100%;
	color:#ccc;
}




