@charset "UTF-8";
/* CSS Document */


body,div,pre,p,blockquote, 
form,
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6, 
embed,object { 
	margin: 0;
	padding: 0;
	vertical-align: baseline; 
	font-size: 100.01%;


	
}
body {  margin:0 auto;
	height:50%;
	background: gray;
	color: red;
	font: .5em/1.231 Arial, Helvetica, sans-serif;
	*font-size:small;
	*font:x-small;
}
h1 {
	font-size: 130%;
	line-height: 1.3;
	padding: 10px;
}
h1 a {
	color: #fff;

}
h1 a:hover {
	text-decoration: none;
}
h2 {
	font-size: 182%;
}

#contents {
	overflow: hidden;
	padding-left: 60px;
	height: 100%;
}
div.section {
	background: #FFFFFF;
	padding: 0px;
	height: 800px;
	float: left;
	margin-right: 20px;
	color:#ccc;
	width:auto;
	font-size:8px;
	font-weight:light;
}
#nav {	
	list-style: none;
	margin-bottom: 10px;
	position: fixed;
	right:10px;
	top: 60px;
}


#nav li {
	display: inline;
	margin-right: 0.5em;
	
	
}
#nav li a {
	color: #fff;
	
}


h1 img {
	
	position:absolute
	margin:30px;
}

#s01 img {	
	
	margin:0 auto;
	width: 700px;
}

#s02 img {	
	
	margin:0 auto;
	width: 700px;
}

#s03 img {	
	
	margin:0 auto;
	width: 700px;
}

#s04 img {	
	width:350px;
	margin:0 auto;
}

#s05 img {
	margin:0 auto;
	width: 700px;
}



@media screen and (max-height:768px) {
body {	height:600px;}
h1 img {
    	width:10%;
	position:absolute
	margin:10px;}
div.section {
	background: #FFFFFF;
	padding: 0px;
	height: 700px;
	float: left;
	margin-right: 10px;
	color:#ccc;
	width:auto;}
contents img {
	width:100px;
    }



