

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




#site-wrapper { height:200px;
		background-color:#f0f8ff;
		position:relative; }

#site-header {	font-size:20pt;
		font-weight:bold; 
		float:left;
		width:400px;
		height:200px;
		
	
		background:url(images/logo.png) no-repeat top left;  }

#top-nav { 	margin-left:800px;
		font-size:10pt;
		background-color:yellow;
		float:left;
		width:200px; }

#menu-wrapper li {	float:left;
			
			position:relative;
			padding:6px 17px;
			margin:0px 20px;
			
			height:20pt;
			font-weight:bold; 
			background-color:red;}
		
#mein-menu {	}	

#content-wrapper {	margin:100px 20px;
			background-color:#b0c4de;
			padding:10px;
			height:600px;
			 }

article h1 {	font-size:20pt;
		font-weight:bold;
		margin: 10px 0px;}

#sidebar h1 {	font-size:20pt;
		font-weight:bold;
		margin: 10px 0px;}

h2 {	font-size:15pt;
	font-weight:bold;
	margin: 10px 0px; }

#page {		font-size:12pt;
		width:500px;
		background-color:#4169e1;
		margin:5px; 
		float:left;}

#sidebar {	float:left;
		background-color:#4169e1;
		width:300px;
		margin:5px; }

#footer-wrapper {	height:300px;
			background-color:gray; }

#footer-wrapper h1 {	font-size:18px;
			font-weight:bold;
			margin:10px 0px; }

#footer-contact {	float:left;
			width:200px;
			background-color:white;
			margin:10px;}

#footer-follow  {	float:left;
			
			position:relative;
			padding:6px;
			margin:0px 200px;}

#footer-follow li { float:left; }



















