

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}





body { margin:0 auto;
	width:960px; }
	
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/League_Gothic-webfont.eot');
    src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/League_Gothic-webfont.woff') format('woff'),
         url('fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



header { position:relative;
	 height:220px; }

#DOG{ 	text-align:center;
	margin:10px;
	font-family:'LeagueGothicRegular';
	font-size:100px;
	
	float:left;
	
	
}

#VS{ 	border-bottom: solid black; 
	border-top: solid black;

	text-align:center;
	
	margin:40px;
	font-family: Georgia, serif;
	font-size:50px;
	font-weight:bold;
	
	float:left;
 }

#CATS{ 	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin:40px;
	font-family:'LeagueGothicRegular';
	font-size:100px;
	
}





nav { 	clear:left;

	position:absolute;
	font-family:sans-serif; 
	font-weight:bold;
	font-size:20pt;

	 margin-left:auto;
	 margin-right:auto;
	 text-align:center;
	     }
	    
ul {	border-bottom: solid black; 
	 border-top: solid black;
	 border-width: 4px; 
	 height:50px;
	}	    
	    
li {	float:left;
	
	list-style:disc; 
	margin-left: 80px;
	margin-top: 10px; 
	list-style: disc;}
	
li:first-child {list-style:none; }    

h3 { 	font-size:30px;
	font-weight:bold; 
	font-family: 'LeagueGothicRegular';}
	
img { margin: 20px 0px; }

.dog { float:left; 
	width:400px;
	margin:30px; 
	}

.cat { float:left; 
	width:400px;
	margin:30px; 
	

	}









footer { font-size:10pt;
	clear:left;
	
	border-top: solid black; 
	border-width: 4px;
	 }

.wiki{	float:left;
	 }
	
.copyright {float:right;
	 }

/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}












