

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}





body { margin:0 auto;
	width:90%; }
	
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/League_Gothic-webfont.eot');
    src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/League_Gothic-webfont.woff') format('woff'),
         url('fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



header { position:relative;
	 height:220%; }

#DOG{ 	text-align:center;
	font-family:'LeagueGothicRegular';
	font-size:10em;
	margin-left:15%;
	float:left;
	
	
}

#VS{ 	border-bottom: solid black; 
	border-top: solid black;

	text-align:center;
	
	margin:4%;
	font-family: Georgia, serif;
	font-size:4em;
	font-weight:bold;
	
	float:left;
 }

#CATS{ 	text-align:center;
	margin-left:auto;
	margin-right:auto;
	
	font-family:'LeagueGothicRegular';
	font-size:10em;
	
}





nav { 	clear:left;

	position:absolute;
	font-family:sans-serif; 
	font-weight:bold;
	font-size:1.5em;

	 margin-left:auto;
	 margin-right:auto;
	 text-align:center;
	     }
	    
ul {	border-bottom: solid black; 
	 border-top: solid black;
	 border-width:0.1em; 
	 height:2em;
	}	    
	    
li {	float:left;
	
	list-style:disc; 
	margin-left: 80px;
	margin-top: 3%; 
	list-style: disc;}
	
li:first-child {list-style:none; }    

h3 { 	font-size:2em;
	font-weight:bold; 
	font-family: 'LeagueGothicRegular';}
	
img {	margin: 20% 0%;
	max-width:100% }

.dog { float:left; 
	width:50%;
	marigin:2%; 
	}

.cat { float:left; 
	width:50%;
	marigin:2%; 
	}

footer { font-size:10pt;
	clear:left;
	
	border-top: solid black; 
	border-width: 4px;
	 }

.wiki{	float:left;
	 }
	
.copyright {float:right;
	 }
	 
	 
	 
@media only screen and (max-width:500px) and (min-width:400px) {
    #nav { float:none; width:98%; margin:0 1%; }
   
    img {max-width:80%;
    	}
    #DOG   {font-size:5em;}
    #CATS  {font-size:5em;}
    #VS    {font-size:3em;}
    body{font-size:1em;}

  }	 
	 
	 
	 

/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}












